@import 'main.css';

body {
    background-color: #343a40 !important;
}

[role=main] {
    background-color: #343a40;
}

.card-text {
    color: white;
    text-align: justify;
    padding: 10px;
    margin-top: 20px;
}

.text-justify {
    font-size: 1.2rem;
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: initial;
    height: 100%;
    border: 0;
}