/* Global */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  position: relative;
  min-height: 100%;
  font-family: 'Cabin', sans-serif;
  font-weight: 100;
}

body {
  margin: 0 0 100px;
  font-family: 'Cabin', sans-serif;
  background-size: cover;
  background-position: top;
  color: #262E39;
  min-height: 100vh;
}

[role=main] {
  background-color: #273037;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23ffffff' fill-opacity='0.07'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

h1 {
  font-size: 3vw;
  font-weight: 400;
  color: rgb(67, 121, 169);
}

h2 {
  font-size: 2vw;
  font-weight: 400;
  color: rgb(67, 121, 169);
  text-align: center;
  margin-bottom: 20em;
  margin-top: 25px;
}

h6 {
  font-size: 1rem;
  color: azure;
  font-weight: 500;
  margin-left: 15px;
  margin-top: 10px;
}

h5 {
  font-size: 7px;
  text-align: center;
  margin-top: 10px;
  color: #17191A;
}

p {
  font-size: 1.2vw;
  color: rgb(18, 21, 25);
  margin-top: 5px;
  font-weight: 300;
}

ul {
  list-style: disc;
  margin-left: 30px;
  color: rgb(18, 21, 25);
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* NavigationBar Attributes */
.navbar-brand {
  font-size: 1.25rem;
}

.nav-bar {
  height: 100;
}

.footer {
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}

.footer p {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  transition: all .5s ease;
}

.footer a:hover {
  color: black;
}

.wrapper:hover .fa-angle-up {
  color: black;
  transition: 0.9s;
  transform: rotateY(180deg);
}

.wrapper a {
  color: #70726F;
  overflow: hidden;
}

/* Cards */
.card {
  margin-top: 12px;
  background-color: #EAEFF1;
}

.card-body {
  margin: 10px 0px;
  background-color: #EAEFF1;
}

.pro_pic {
  filter: grayscale(100%);
  border-radius: 50%/60%;
  height: auto;
  width: 150px;
  margin: auto;
}

.card-image {
  height: 60%;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

/* Card Information */
#studies {
  padding-bottom: 30px;
}

.small,
small {
  margin-left: 15px;
  font-size: 100%;
}

.education {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  color: azure;
  background: rgb(67, 121, 169);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.work {
  height: 60%;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.work h6 {
  color: black;
  margin-top: 10px;
}

.education li {
  font-size: 1.1vw;
}

.education ul {
  color: azure;
  margin-left: 50px;
}


.competencies {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  margin: 66px auto;
}

.skills {
  text-align: center;
  margin-bottom: 20em;
}

.skills p {
  margin-bottom: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Screen-Size >1366px */
@media screen and (max-width: 1366px) {

  .navbar-brand {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 4.3vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  h5 {
    font-size: 1vw;
    text-align: center;
    margin-top: 10px;
    color: #17191A;
  }

  h6 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5vw;
  }

  .education strong {
    font-size: 2vw;
  }

  .work strong {
    font-size: 1.8vw;
  }

  .education li {
    font-size: 1.5vw;
  }

  .competencies li {
    font-size: 1.5vw;
    margin-left: 20px;
  }

  .competencies {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 7px auto;
  }

  .container.skills {
    width: 100%;
    padding: 0;
  }

  .skills h5 {
    font-size: 1.5vw;
    margin: 33px;
  }

  .pro_pic {
    width: 196px;
  }

  .container {
    width: 100%;
  }

  #summary ul {
    line-height: 25px;
  }

  #experience li {
    font-size: 1.5vw;
  }
}

#programs img {
  width: 8%;
  height: auto;
}

/* Screen-Size >768px */
@media screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 4.3vw;
  }

  h2 {
    font-size: 3.5vw;
  }

  h5 {
    font-size: 1vw;
    text-align: center;
    margin-top: 10px;
    color: #17191A;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1.5vw;
  }

  .education strong {
    font-size: 2vw;
  }

  .work strong {
    font-size: 1.8vw;
  }

  .education li {
    font-size: 1.5vw;
  }

  .competencies li {
    font-size: 1.5vw;
    margin-left: 20px;
  }

  .competencies {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 7px auto;
  }

  .container.skills {
    width: 100%;
    padding: 0;
  }

  .skills h5 {
    font-size: 1.5vw;
    margin: 33px;
  }

  .container {
    width: 100%;
  }

  .pro_pic {
    width: 170px;
  }

  #summary ul {
    line-height: 20px;
  }

  #experience li {
    font-size: 1.5vw;
  }
}

/* Screen-Size >425px */
@media screen and (max-width: 425px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 6vw;
  }

  h5 {
    font-size: 2.6vw;
  }

  h6 {
    font-size: 0.9rem;
  }

  p {
    font-size: 2.3vw;
  }

  .education strong {
    font-size: 2.8vw;
  }

  .work strong {
    font-size: 3vw;
  }

  .education li {
    font-size: 2.2vw;
  }

  .competencies li {
    font-size: 2.6vw;
    margin-left: 30px;
    margin-top: 5px;
  }

  .competencies {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    margin: auto;
  }

  .skills h5 {
    font-size: 3vw;
    margin: 33px;
  }

  #summary ul {
    line-height: 10px;
  }

  #experience li {
    font-size: 2.2vw;
  }

  .pro_pic {
    width: 130px;
  }

  .mr-5,
  .mx-5 {
    margin-right: 1rem !important
  }

  .ml-5,
  .mx-5 {
    margin-left: 1rem !important
  }
}

/* Screen-Size >320px */
@media screen and (max-width: 320px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 7vw;
  }

  h2 {
    font-size: 6vw;
  }


  h5 {
    font-size: 2.5vw;
    text-align: center;
    margin-top: 20px;
    color: #17191A;
  }

  h6 {
    font-size: 0.7rem;
  }

  p {
    font-size: 3vw;
  }

  #small-info ul {
    margin: auto !important;
    list-style: none !important;
  }

  .education li {
    font-size: 2vw;
  }

  .competencies li {
    font-size: 3.2vw;
    margin-left: 30px;
    margin-top: 5px;
  }

  .competencies {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    margin: auto;
  }

  .education strong {
    font-size: 2.8vw;
  }

  .work strong {
    font-size: 3.2vw;
  }

  .skills h5 {
    font-size: 3vw;
    margin: 33px;
  }

  .pro_pic {
    width: 120px;
  }

  #summary ul {
    line-height: 10px;
  }

  #experience li {
    font-size: 2.5vw;
  }

  .mr-5,
  .mx-5 {
    margin-right: 1rem !important
  }

  .ml-5,
  .mx-5 {
    margin-left: 1rem !important
  }
}

/* animations */
#ed-anim {
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-2px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}