    {% load static %}

    <!doctype html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--load all styles -->
        <link rel="icon" type="image/png" href="{% static 'css/favicon.ico' %}">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block styles %}{% endblock %}
        <title>T0rr1 Web Portfolio</title>
    </head>
    <script src="https://kit.fontawesome.com/d0622b8fa0.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
    </style>

    <body>
        <header>
            {%block navbar%}{%endblock navbar%}
        </header>

        <main role="main">
            {% block jumbotron %}{% endblock jumbotron %}
            {%block content%}{%endblock content%}
        </main>

        <footer class="footer">
            <div class="container text-right">
                <a href="https://github.com/T0rr1" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://linkedin.com/in/daniel-torrijos" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a class="wrapper" href="#"><i class="fa fa-angle-up fa-md"></i></a>
            </div>


        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    </body>

    </html>